@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  overflow: hidden;
}

.container {
  background-color: #0f0f0f;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .left {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .right {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
}

.container .right h1 {
  padding-bottom: 2rem;
  font-size: clamp(22px, 10vw, 50px);
  letter-spacing: 2px;
}

.container .right p {
  padding-top: 20px;
  line-height: 30px;
  width: clamp(40ch, 70%, 90ch);
  margin: auto;
}

.icons {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.icons a {
  padding: 0 0.3rem;
  text-decoration: none;
  color: white;
}

.left .name {
  font-weight: 600;
  font-size: clamp(14px, 4vw, 22px);
  color: #ef233c;
}

.left .nav {
  padding-top: 20px;
  letter-spacing: 2px;
}

.left .nav a {
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.left a {
  text-decoration: none;
}

.left .nav a:hover {
  opacity: 1;
  letter-spacing: 4px;
}

@media screen and (max-width: 480px) {
  * {
    overflow: auto;
    font-size: 12px;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container p {
    font-size: 15px;
  }
  .container .right {
    width: 90%;
  }
  .container .left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 11vh;
    border-top: 2px solid red;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    z-index: 3;
    font-size: 14px;
    padding-top: 20px;
  }
  .container .left ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container .left .nav {
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    list-style: none;
  }
  .container .left .name {
    width: 30%;
  }
  .icons {
    position: absolute;
    bottom: 5px;
    margin: 10px 0;
  }
  .icons a {
    padding-left: 20px;
  }
  body {
    position: relative;
    height: 100vh;
  }
  .right h1 {
    padding-top: 2rem;
  }
  .right p {
    width: 100%;
    text-align: center;
  }
}
/*# sourceMappingURL=about.css.map */