@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #0f0f0f;
  overflow: hidden;
}

.vid {
  width: 70%;
  height: 50vh;
  border: none;
}

.head {
  text-align: center;
  letter-spacing: 5px;
  font-weight: 400;
  font-size: clamp(14px, 4vw, 22px);
  padding-top: 4rem;
  padding-bottom: 2rem;
  margin: auto;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
  width: 60%;
}

.description {
  width: 50%;
  margin: auto;
  z-index: 3;
  text-align: center;
}

.description p {
  margin: auto;
  font-weight: lighter;
  color: white;
  font-size: clamp(15px, 3vw, 20px);
  letter-spacing: 2px;
  padding-top: 30px;
  width: 35ch;
}

.container {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .right {
  width: 70%;
}

.container .left {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

.container .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.redband {
  width: 10%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 100px;
  background-color: #1d1d1d;
  z-index: -1;
}

.icons {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.icons a {
  padding: 0 0.3rem;
  text-decoration: none;
  color: white;
}

.left {
  opacity: 0;
}

.left .name {
  font-weight: 600;
  font-size: clamp(14px, 4vw, 22px);
  color: #ef233c;
}

.left .nav {
  padding-top: 20px;
  letter-spacing: 2px;
}

.left .nav a {
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.left a {
  text-decoration: none;
}

.left .nav a:hover {
  opacity: 1;
  letter-spacing: 4px;
}

@media screen and (max-width: 480px) {
  * {
    overflow: auto;
  }
  .head {
    font-size: 15px;
    width: 80%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .container {
    height: 60vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .container .icons {
    position: absolute;
    bottom: 5px;
    margin: 10px 0;
  }
  .container .icons a {
    padding-left: 20px;
  }
  .container .left {
    position: fixed;
    top: 89%;
    width: 100%;
    height: 11%;
    border-top: 2px solid red;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
    font-size: 13px;
    padding: 10px 0;
  }
  .container .left .namebox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .container .left ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container .left .nav {
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0;
    list-style: none;
    padding-top: 1px;
  }
  .container .left .name {
    width: 30%;
  }
  .container .left .icons {
    margin: 0;
  }
  .container .main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80%;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .right .description {
    text-align: center;
    width: 100%;
    margin: 0;
  }
  .right .description p {
    color: white;
    width: 25ch;
  }
  .vid {
    width: 100%;
    height: 100%;
    border: none;
    z-index: 3;
  }
  .redband {
    display: none;
  }
}
/*# sourceMappingURL=video.css.map */