@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #0f0f0f;
  overflow: hidden;
}

h1 {
  text-align: center;
  letter-spacing: 5px;
  font-weight: 400;
  font-size: clamp(14px, 4vw, 22px);
  padding: 4rem;
}

.vid {
  width: 60%;
  height: 60vh;
  border: none;
}

.container {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .left {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

.container .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

.redband {
  width: 10%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 100px;
  background-color: #1d1d1d;
}

.icons {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.icons a {
  padding: 0 0.3rem;
  text-decoration: none;
  color: white;
}

.left {
  opacity: 0;
}

.left .name {
  font-weight: 600;
  font-size: clamp(14px, 4vw, 22px);
  color: #ef233c;
}

.left .nav {
  padding-top: 20px;
  letter-spacing: 2px;
}

.left .nav a {
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.left a {
  text-decoration: none;
}

.left .nav a:hover {
  opacity: 1;
  letter-spacing: 4px;
}

@media screen and (max-width: 480px) {
  * {
    overflow: auto;
  }
  .head {
    font-size: 15px;
  }
  .container {
    height: 60vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .container .description {
    color: #dadada;
  }
  .container .description p {
    padding-top: 20px;
    width: 30ch;
  }
  .container .icons {
    position: absolute;
    bottom: 5px;
    margin: 10px 0;
  }
  .container .icons a {
    padding-left: 20px;
  }
  .container .left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 11vh;
    border-top: 2px solid red;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    z-index: 3;
    font-size: 14px;
    padding-top: 20px;
  }
  .container .left ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container .left .nav {
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    list-style: none;
  }
  .container .left .name {
    width: 30%;
  }
  .container .main {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .vid {
    width: 90%;
    height: 30vh;
    border: none;
    z-index: 3;
  }
  .redband {
    display: none;
  }
}
/*# sourceMappingURL=video.css.map */