@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #0f0f0f;
  color: white;
}

.head {
  text-align: center;
  letter-spacing: 5px;
  font-weight: 400;
  font-size: clamp(14px, 4vw, 22px);
  padding: 3rem;
  opacity: 0;
  position: absolute;
  top: 10%;
  left: 50vw;
  display: none;
}

.container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}

.container .left {
  position: -webkit-sticky;
  position: sticky;
  top: 41%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  opacity: 0;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .right {
  margin: 50px 0;
  width: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(380px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 10px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .right img {
  width: clamp(380px, 380px, 80%);
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: auto;
}

.container .right img:hover {
  cursor: pointer;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.icons {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.icons a {
  padding: 0 0.3rem;
  text-decoration: none;
  color: white;
}

.left .name {
  font-weight: 600;
  font-size: clamp(14px, 4vw, 22px);
  color: #ef233c;
}

.left .nav {
  padding-top: 20px;
  letter-spacing: 2px;
}

.left .nav a {
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.left a {
  text-decoration: none;
}

.left .nav a:hover {
  opacity: 1;
  letter-spacing: 4px;
}

.myimg {
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .left {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-top: 2px solid #ef233c;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    z-index: 3;
    font-size: 14px;
    padding-top: 5px;
  }
  .container .left ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container .left .nav {
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
    list-style: none;
  }
  .container .left .name {
    width: 40%;
  }
  .container .right {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .right img {
    padding-bottom: 0.5rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .icons {
    position: absolute;
    bottom: 5px;
  }
  .icons a {
    padding-left: 10px;
  }
}
/*# sourceMappingURL=portfolio.css.map */